<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detecção de Objetos</title>
</head>

<body>
    <h1>Detecção de Objetos</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg, .jpeg, .png">
        <label for="objeto-input">Objeto buscado:</label>
        <input type="text" id="objeto-input" name="objeto" placeholder="Descreva o objeto:">
        <button type="submit">Enviar imagem </button>
    </form>
</body>

</html>
