<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detecção:</title>
</head>

<body>
    <h1>Objeto detecado:</h1>
    {% for objeto in objetos.keys() %}
        <p>{{ objeto }}</p>
    {% endfor %}
    <img src="{{ url_for('static', filename=imagem) }}" alt="Imagem com Detecções dos objetos">

    <button id="playAudioButton">Reproduzir Áudio</button>

    <script>
        function playAudio() {
            fetch('/play_audio')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erro ao responder requisição!');
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        document.getElementById('playAudioButton').addEventListener('click', playAudio);
    </script>
</body>

</html>
